/* ProductPage.css */
.product-page {
    font-family: 'Arial', sans-serif; /* Utilisez la police de votre choix */

    color: #333;
  }
  
  .gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .product-details {
    display: flex;
    margin-left: -50px;
    margin-right: -50px;
  }
  
  .product-details h1 {
    color: red;
  }
  
  .product-details p {
    color: #6c757d;
    line-height: 1.5;
  }

  .product-location {
    font-weight: bold; /* Rend le texte en gras */
    font-size: 18px; /* Ajustez la taille de la police au besoin */
    color: #333; /* Couleur du texte, ajustez selon votre design */
    margin-top: -10px;

}
.ooop h1 {
    margin-bottom: 0; /* Supprimez la marge inférieure du titre pour le rapprocher du texte en dessous */
}



  
  .host {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .host img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .tag {
    margin: 0 10px 10px 0; /* Ajoute des marges à droite et en bas pour un meilleur espacement */
    padding: 5px 10px; /* Gardez ou ajustez le padding selon vos besoins */
    border-radius: 20px; /* Forme arrondie des tags */
    background-color: #ff5f5f; /* Couleur de fond des tags */
    color: #fff; /* Couleur du texte */
    display: inline-block; /* Assure que les tags sont alignés correctement */
    text-align: center; /* Centre le texte à l'intérieur des tags */

}
  
  .rating {
    display: flex;
    align-items: center;
    gap: 5px;

  }
  
  .star {
    width: 36px; /* La largeur de l'étoile */
    height: 36px; /* La hauteur de l'étoile */
    background-size: cover; /* Assure que l'image couvre la taille définie */
}

.star.active {
    background-image: url('../../Images/star-active\ 1.png'); /* Chemin vers l'image d'étoile active */
}

.star.inactive {
    background-image: url('../../Images/star-inactive\ 2.png'); /* Chemin vers l'image d'étoile inactive */
}

  .product-title{
    color:#ff5f5f;
  }

  .tags-container{
    display: flex;
  }

  .ooop{
    display: flex;
    justify-content: space-between;
  align-items: center; /* Assure que les éléments sont alignés verticalement au centre */
  }
  .host-details{
    display: flex;
  }

  .host-image {
    width: 100px; /* Définissez la largeur souhaitée pour l'image */
    height: 100px; /* Assurez-vous que la hauteur et la largeur sont égales pour un cercle parfait */
    border-radius: 50%; /* Cela crée la forme ronde en rendant les coins complètement arrondis */
    object-fit: cover; /* Assure que l'image couvre bien la zone sans être déformée */
  }

  .host-name {
    color: red;
    font-size: 20px;
    margin-right: 20px; /* Ajuste l'espacement entre le nom et l'image */
    text-align: center;
}


.host-details {
    display: flex;
    align-items: center;
}

.tags-cont{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.collapsible-container {
    display: flex;
    justify-content: space-between; /* Distribue l'espace également */
    align-items: stretch; /* Étire les éléments pour remplir le conteneur */
    width: 100vw;
    margin: 0; /* Aucune marge externe */
    padding: 0; /* Aucun padding externe */
}

.collapsible-section {
    flex: 1; /* Chaque section collapsible prendra une part égale de l'espace */
}

@media (max-width: 768px) {
    .product-details {
        display:block;
        margin-left: 0px;
        margin-right: 0px;
    }

    .product-location{
        margin-top: 0;
    }
    .ooop{
        display: block;
    }
    

    .tags-cont{
        display: block;
    }
    .host-details{
        float: right;
        margin-top: 70px;
    }

    .rating {
        margin-top: 16px;
        margin-bottom: 50px;
    

  }
  