.home {
    font-family: Arial, sans-serif; /* Utilise la police souhaitée */
  }
  
.error-page {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .error-page h1 {
    font-size: 96px;
    color: #ff5f5f;
  }
  
  .error-page p {
    font-size: 24px;
    color: #333;
  }

  .error-link{
    margin-bottom: 50px;
    border-top: 50px;
  }
  